@import url(/utils/index.css);
@import url(../components/staus-bar.css);
@import url(../components/edit-navbar.css);
@import url(../components/profile.css);
@import url(../components/bottom-navbar.css);
@import url(../pages/share.css);
@import url(/styles/components/settings.css);

.manege {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}

.manege__text {
    font-size:14px;
    font-weight: 500;
    color: #ffffff81;
    line-height:30px;
    margin-left: 6px;
}

.profile {
    margin-top:40px;
    margin-bottom:10px;
}

.settings {
    margin-bottom: 81px;
}