@import url(/utils/index.css);
@import url(../components/staus-bar.css);
@import url(../components/search-input.css);
@import url(../components/movie.css);
@import url(../components/bottom-navbar.css);
body {
    position: relative;
}
.title {
    font-size:27px;
    font-weight: 700;
    margin: 21px auto ;
    width:90%;
}
.bottom-navbar__background {
   width:100%;
   position: fixed;
   bottom:0;

}