.profile {
    display:flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    
}
.profile__group {
    text-align: center;
    
}
.profile__img {
    width:65px;;
    height:60px;
}

.profile__img--big {
    width:100px;;
    height:92px;
}

.profile__text {
    font-size:12px;
    margin-top:5px;
}

.profile--grid {
    display:grid;
    grid-template-columns: 100px 100px;
    grid-gap: 22px;
    justify-content:center;
        
}