.search-input {
    display: flex;
    align-items: center;
    padding: 18px 0;
    width: 90%;
    margin: 0 auto;
}

.search-input__background {
    background: #2c2c2c;
}

.search-input__img {
    width: 22px;
}

.search-input__input {
    border: none;
    background: none;
    width: 254px;
    outline: none;
    color: #fff;
    font-size:15px;
    margin-left: 5px;
    margin-right: 34px;
}
/* Se fose para mudar a cor do texto do placeholder */
.search-input__input::placeholder {
    color: #c4c4c4;
}